<section class="forgot-password-container">
    <div class="col-lg-6 m-auto">
        <!-- <div class="col-lg-6 m-auto"> -->
            <div class="card">
                <div class="card-header">
                    Forgot Password
                </div>
                <div class="card-body">
                    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
                        <div class="form-group mt-3 col-12">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" formControlName="emailData">
                            <span class="text-danger form-text"
                            *ngIf="forgotPassword.controls['emailData'].errors?.['required'] && (forgotPassword.controls['emailData'].touched || forgotPassword.controls['emailData'].dirty)">
                                Email is required
                            </span>
                            <span class="form-text text-danger" 
                            *ngIf="forgotPassword.controls['emailData'].errors?.['email'] && (forgotPassword.controls['emailData'].touched || forgotPassword.controls['emailData'].dirty)"> 
                                    Please enter a valid email
                            </span>
                        </div>
                        <div class="from-group col-12 mt-3">
                            <button type="submit" class="btn btn-md" [disabled]="!forgotPassword.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        <!-- </div> -->
    </div>
</section>
