.forgot-password-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/images/backgroung.jpg);
}

.btn{
    background-color: #e50914;
    color: #ffffff;
}