h1, h5{
    color: #ffffff;
}
img{
    width: 100%;
    height: auto;
}

.my-list-container{
    min-height: 100vh;
}

.pg-navigate{
    display: flex;
    justify-content: center;
    align-items: center;
}