<div class="login-container">
    <div class="row mt-5 p-5">
        <div class="col-6 m-auto">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="loginMessage">
            <strong>{{loginMessage}}</strong>
        </div>
        <div class="card m-auto">
            <div class="card-header">
            Login
            </div>
            <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">    
                <div class="form-group col-12 mt-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="emailData">
                    <span class="form-text text-danger" 
                    *ngIf="loginForm.controls['emailData'].errors?.['required'] && (loginForm.controls['emailData'].touched || loginForm.controls['emailData'].dirty)"> 
                            Email is required
                    </span>
                    <span class="form-text text-danger" 
                    *ngIf="loginForm.controls['emailData'].errors?.['email'] && (loginForm.controls['emailData'].touched || loginForm.controls['emailData'].dirty)"> 
                            Please enter a valid email
                    </span>
                </div>
        
                <div class="form-group col-12 mt-3">
                    <label for="passwrod" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="passwordData">
                    <span class="form-text text-danger"
                    *ngIf="loginForm.controls['passwordData'].errors?.['required'] && (loginForm.controls['passwordData'].touched || loginForm.controls['passwordData'].dirty)"> 
                        Password is required
                    </span>
                    <span class="form-text text-danger"
                    *ngIf="loginForm.controls['passwordData'].errors?.['minlength'] && (loginForm.controls['passwordData'].touched || loginForm.controls['passwordData'].dirty)"> 
                        Password length should ne greater than 8 character. 
                    </span>
                </div>
        
                <div class="form-group col-12 mt-3">
                <button type="submit" class="btn btn-md" [disabled]="!loginForm.valid">Login</button>
                <button type="reset" class="btn btn-secondary mx-2">Cancel</button>
                </div>
                <div class="text-center mt-3">Don't have account ? <a [routerLink]="['/register']">create account</a></div>
                <!-- loginForm value : {{loginForm.value | json}} <br>
                loginForm valid : {{loginForm.valid | json}} -->
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
