<div class="container-fluid">
    <app-search-page (onSearchBoxType)="onTextChange($event)"></app-search-page>

    <h1 class="mb-5">Upcoming Movies</h1>
    <div class="upcoming-container">
        <div class="row"> 
            <ng-container *ngFor="let s of upcomingMovies | paginate:{itemsPerPage: tableSize, currentPage: page, totalItems: count};">
                <div class="col-lg-4" *ngIf="getSearchValue === '' || s.Name.toLowerCase().includes(getSearchValue)">
                        <div class="row">
                            <div class="col-lg-3 mt-4 mb-4" *ngIf="s.ImageName">
                                    <img
                                    [src]="s.ImageName" 
                                    [routerLink]="['/movie',s.Id]"    
                                    >
                            </div>
                            <div class="col-lg-9 mt-4 mb-4">
                                    <h5>{{s.Name}}</h5>
                            </div>
                        </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="pg-navigate">
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
    </div>
</div>
