img{
    width: 100%;
    cursor: pointer;
}

h5{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

.btn{
    background-color: #e50914;
    color:#ffffff;
}

.upcoming-container{
    min-height: 100vh;
}

.pg-navigate{
    display: flex;
    justify-content: center;
    align-items: center;
}