<section class="forgot-password-container">
    <div class="col-lg-6 m-auto">
        <!-- <div class="col-lg-6 m-auto"> -->
            <div class="card">
                <div class="card-header">
                    Reset Password
                </div>
                <div class="card-body">
                    <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                        <div class="form-group mt-3 col-12">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" formControlName="password">
                            <span class="text-danger form-text"
                            *ngIf="resetPassword.controls['password'].errors?.['required'] && (resetPassword.controls['password'].touched || resetPassword.controls['password'].dirty)">
                                Password is required
                            </span>
                            <span class="form-text text-danger" 
                            *ngIf="resetPassword.controls['password'].errors?.['minlength'] && (resetPassword.controls['password'].touched || resetPassword.controls['password'].dirty)"> 
                                    Password must be of 8 character
                            </span>
                        </div>
                        <div class="form-group mt-3 col-12">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword">
                            <span class="text-danger form-text"
                            *ngIf="resetPassword.controls['confirmPassword'].errors?.['required'] && (resetPassword.controls['confirmPassword'].touched || resetPassword.controls['confirmPassword'].dirty)">
                                Confirm Password is required
                            </span>
                            <span class="form-text text-danger" 
                            *ngIf="!resetPassword.errors?.['matched'] && (resetPassword.controls['confirmPassword'].touched || resetPassword.controls['confirmPassword'].dirty)"> 
                                    Password doesn't not matched
                            </span>
                        </div>
                        <div class="from-group col-12 mt-3">
                            <button type="submit" class="btn btn-md">Submit</button>
                        </div>
                    </form>
                    
                </div>
                
            </div>
        <!-- </div> -->
        <!-- [disabled]="!resetPassword.valid" -->
    </div>
</section>
