.btn{
    background-color: #e50914;
    color: #ffffff;
}

span{
    color: #e50914;
}

input.ng-invalid.ng-touched{
    border:2px solid red;
}

.register-container{
    background-image: url("../../../assets/images/backgroung.jpg");
    min-height: 100vh;
}